.comments-discussion {
	margin: 5rem 23%;
	width: 85rem;

	.comment-discussion-bar {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid rgb(235, 235, 235);
		padding-bottom: 1rem;

		.comment {
			.comment-discussion-item {
				color: #5e7078;
				font-size: 1.5rem;
				font-weight: 600;
				padding: 1rem 0rem;
				margin-right: 1.3rem;

				a {
					text-decoration: none;
                    color: #5e7078; 
                    
                    &:hover {
                        color: black;
                    }
				}

				.active {
					color: black;
					padding-bottom: 1rem;
					border-bottom: 2px solid $hoverTextColor;
				}
			}

			.icon {
				margin-right: 0.5rem;
				font-size: 2rem;
			}
		}

		.login-dropdown {
			.dropdown {
				color: #5e7078;
				font-size: 1.5rem;
				font-weight: 600;
			}

			.icon {
				margin-right: 0.5rem;
				font-size: 1.8rem;
				color: #f05f70;
			}
		}
	}

	.share-bar {
		display: flex;
		justify-content: space-between;
		margin-top: 1.5rem;

		.share-bar-left-side {
			.share-bar-item {
				color: #5e7078;
				font-size: 1.4rem;
				font-weight: 600;
			}

			.icon {
				margin-right: 0.4rem;
			}

			.recommend {
				margin-right: 1.2rem;

				.heart {
					color: #f05f70;
				}

				a {
					color: #5e7078; 

					&:hover {
						color: black;
					}
				}
			}

			.twitter {
				background: #18b2f0;
				padding: 0.2rem 0.5rem;
				border-radius: 3px;
				margin-right: 0.4rem; 

				a {
					color: white;
				}

				&:hover {
					opacity: 0.7;
				}
			}

			.facebook {
				background: #3b5998;
				color: white;
				padding: 0.2rem 0.5rem;
				border-radius: 3px;

				a {
					color: white;
				}

				&:hover {
					opacity: 0.8;
				}
			}
		}

		.share-bar-right-side {
			span {
				color: #5e7078;
				font-size: 1.4rem;
				font-weight: 600;
			}
		}
	}

	.discussion {
		display: flex;
		margin-top: 2rem;

		.discussion-icon {
			height: 5rem;
			width: 5rem;
			background-color: #e2e7ea;
			display: grid;
			place-items: center;
			position: relative;
			margin-right: 1rem;
			border-radius: 3px;

			span {
				position: absolute;
				bottom: 0;
				font-size: 5rem;
				color: #939ea7;
			}
		}

		.discussion-input {
			.input {
				height: 5rem;
				border-radius: 3px;
				border: 2px solid #bcc0c2;
				width: 79rem;
				font-size: 2rem;
				color: #939ea7;
			}
		}
	}
}
