@import './constants';

.nav-bar { 
    background-color: red;  
    display: flex; 
    justify-content: space-between;  
    align-items: center;
    height: 6.75rem; 
    background-color: white; 
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 0 20%; 
    margin-bottom: 10rem;

    .nav-bar-logo { 
        height: 3rem; 
        width: 10rem; 
        object-fit: cover;    
        margin-top: 0.9rem;

        img { 
            width: 100%;
        }
    } 

    .nav-bar-links { 
        a {
            text-decoration: none; 
            font-size: 1rem; 
            font-weight: 700; 
            color: $primaryTextColor;  
            margin-right: 2.5rem;
            word-spacing: 0.03rem; 
            letter-spacing: 0.03rem; 
            opacity: 0.8;  

            &:hover { 
                color: $hoverTextColor;
            }
        }
    }
}