.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.75rem;
  background-color: white;
  border-bottom: 1px solid #e9e9e9;
  padding: 0 20%;
  margin-bottom: 10rem;
}

.nav-bar .nav-bar-logo {
  height: 3rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 0.9rem;
}

.nav-bar .nav-bar-logo img {
  width: 100%;
}

.nav-bar .nav-bar-links a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: #141C3A;
  margin-right: 2.5rem;
  word-spacing: 0.03rem;
  letter-spacing: 0.03rem;
  opacity: 0.8;
}

.nav-bar .nav-bar-links a:hover {
  color: #6400E4;
}

.date-header-intro-image {
  margin: 5rem 27%;
}

.date-header-intro-image .date {
  color: #141C3A;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 2rem 0;
  text-align: center;
}

.date-header-intro-image .date span {
  color: #7af0c8;
  font-weight: 900;
  margin: 0 0.3rem;
}

.date-header-intro-image .header {
  margin: 0 -5rem;
  font-size: 4.5rem;
  color: #141C3A;
  font-weight: 800;
  margin-bottom: 9rem;
  text-align: center;
}

.date-header-intro-image .intro {
  margin: 2rem 0;
  font-size: 2.75rem;
  color: #32383e;
  font-weight: 400;
  font-style: italic;
  line-height: 4.5rem;
  text-align: start;
}

.date-header-intro-image .intro-image {
  background: url(./images/front-end-to-back-end-transition.png) no-repeat;
  margin: 4rem 0;
  margin-left: -15rem;
  margin-right: -15rem;
  background-position: center;
  background-size: 100%;
  height: 45rem;
  -o-object-fit: fill;
     object-fit: fill;
}

.date-header-intro-image .image-description {
  margin: 2rem 0;
  color: #3e464a;
  font-size: 2.2rem;
  line-height: 3.5rem;
}

.date-header-intro-image .image-description a {
  color: #4B35EF;
  text-decoration: none;
  border-bottom: 1px solid #4B35EF;
}

.date-header-intro-image .quote-image {
  background: url(./images/arnav-luthra-back-end-development.png);
  margin: 5rem 0;
  background-position: center;
  background-size: 100%;
  height: 25rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.description {
  margin: 5rem 27%;
}

.description .header {
  font-size: 3.3rem;
  color: #141C3A;
  font-weight: 700;
}

.description .content {
  margin: 2rem 0;
  color: #3e464a;
  font-size: 2.2rem;
  line-height: 3.5rem;
}

.description .content a {
  color: #4B35EF;
  text-decoration: none;
  border-bottom: 1px solid #4B35EF;
}

.description ul {
  padding-left: 2.7rem;
}

.description ul li {
  font-size: 2.2rem;
  line-height: 4rem;
  color: #3e464a;
}

.description ul li a {
  color: #4B35EF;
  text-decoration: none;
  border-bottom: 1px solid #4B35EF;
}

.testimonial-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 23%;
  width: 85rem;
}

.testimonial-bio .bio-image {
  width: 5rem;
  height: 5rem;
}

.testimonial-bio .bio-image img {
  width: 100%;
  border-radius: 200px;
}

.testimonial-bio .bio-description {
  margin: 0 1.60rem;
}

.testimonial-bio .bio-description .name {
  font-size: 2rem;
}

.testimonial-bio .bio-description .bio {
  color: #738A94;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

.testimonial-bio .read-more {
  margin: 0 1rem;
}

.testimonial-bio .read-more button {
  background: none;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 700;
  color: #738A94;
  border: 1px solid #738A94;
  border-radius: 200px;
  padding: 0.75rem 1.5rem;
}

.testimonial-bio .read-more button:hover {
  cursor: pointer;
  color: #6400E4;
  border-color: #6400E4;
}

.comments-discussion {
  margin: 5rem 23%;
  width: 85rem;
}

.comments-discussion .comment-discussion-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 1rem;
}

.comments-discussion .comment-discussion-bar .comment .comment-discussion-item {
  color: #5e7078;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0rem;
  margin-right: 1.3rem;
}

.comments-discussion .comment-discussion-bar .comment .icon {
  margin-right: 0.5rem;
  font-size: 2rem;
}

.comments-discussion .comment-discussion-bar .comment .active {
  color: black;
  padding-bottom: 1rem;
  border-bottom: 2px solid #6400E4;
}

.comments-discussion .comment-discussion-bar .login-dropdown .dropdown {
  color: #5e7078;
  font-size: 1.5rem;
  font-weight: 600;
}

.comments-discussion .comment-discussion-bar .login-dropdown .icon {
  margin-right: 0.5rem;
  font-size: 1.8rem;
  color: #F05F70;
}

.comments-discussion .share-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.comments-discussion .share-bar .share-bar-left-side .share-bar-item {
  color: #5e7078;
  font-size: 1.4rem;
  font-weight: 600;
}

.comments-discussion .share-bar .share-bar-left-side .icon {
  margin-right: 0.4rem;
}

.comments-discussion .share-bar .share-bar-left-side .recommend {
  margin-right: 1.2rem;
}

.comments-discussion .share-bar .share-bar-left-side .recommend .heart {
  color: #F05F70;
}

.comments-discussion .share-bar .share-bar-left-side .twitter {
  background: #18B2F0;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  margin-right: 0.4rem;
}

.comments-discussion .share-bar .share-bar-left-side .facebook {
  background: #3B5998;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

.comments-discussion .share-bar .share-bar-right-side span {
  color: #5e7078;
  font-size: 1.4rem;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 62.5%;
}
/*# sourceMappingURL=main.css.map */